<div class="element">
<header>
  <div class="overlay"></div>
  <video id="chococlip" playsinline="playsinline" autoplay="autoplay" loop="loop">
    <source src="<%= video_path("chocowar.mp4")%>" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class=" a-92 display-3">Chocovote !</h1>
                <p class="mb-0">
                <%= render 'charges/index'%>
          <%#= link_to "Choisis ton Camp", chocovoteurs_path, class: "paid btn btn-dark" %>
          
        </p>
        <p class="lead mb-0">Pain o Chocolat ou Chocolatine</p>
      </div>
    </div>
  </div>
</header>

<section class="my-1">
    <div class="text-home row">
      <div class="  col-md-8 mx-auto">
      <h1 class="a-94" style="text-align: center;"> Pain au chocolat VS Chocolatine</h1>
        <p>Combien de personnes ont payé 1 euro pour voter, pour voir combien de personnes ont payé 1 euro pour voter ?</p>
      </div>
    </div>
</section>
<footer>
<div class="container_footer">
  <div class="row">
    <div class="footer-agency col align-self-center center">
    <p>Create by Webconcepter</p> 
    </div>
  </div>
</div>
</footer>